<div class="container mx-auto py-5">
  <div class="d-flex justify-content-center">
    <h1 class="fs-1 text-center"><em>Join Us</em></h1>
  </div>
  <div class="d-flex justify-content-center">
    <button class="btn btn-outline-success w-100" (click)="Google()">
      Google
    </button>
  </div>
  <hr />
  <form [formGroup]="registerForm" (ngSubmit)="signUP()" novalidate>
    <div class="form-group">
      <label for="name" class="text-capitalize">name</label>
      <input type="text" formControlName="name" class="form-control" id="" />
    </div>
    <div class="form-group">
      <label for="email" class="text-capitalize">email</label>
      <input type="email" formControlName="email" class="form-control" id="" />
    </div>
    <div class="form-group">
      <label for="password" class="text-capitalize">password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id=""
      />
    </div>
    <br />
    <a routerLink="/login">I have already an account</a>
    <br />
    <button type="submit" class="btn btn-dark">Sign up</button>
  </form>
</div>
