<div class="container">
  <div *ngIf="showMsg">
    <div class="alert alert-success">h</div>
  </div>
  <div class="accordion mx-auto w-50" id="accordionExample">
    <div class="accordion-item border-primary">
      <h2 class="accordion-header bg-primary" id="headingOne">
        <button
          class="accordion-button btn btn-primary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <span class="fw-bold text-capitalize"
            ><i class="fas fa-plus"></i> Add A certificate
          </span>
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <form (ngSubmit)="save()" [formGroup]="certificateForm" novalidate>
            <div class="form-group w-50 mx-auto mb-3">
              <label for="vendor">
                Vendor<span class="text-danger">*</span>
              </label>
              <select
                required
                id="vendor"
                formControlName="slug"
                class="form-select text-capitalize"
              >
                <option class="text-capitalize">Select a vendor</option>
                <option
                  class="text-capitalize"
                  [value]="item.vendorData.slug"
                  *ngFor="let item of Vendors"
                >
                  {{ item.vendorData.slug }}
                </option>
              </select>
            </div>
            <div class="form-group w-50 mx-auto mb-3">
              <label for="certificate" class="text-capitalize">
                certificate<span class="text-danger">*</span>
              </label>
              <input
                type="text"
                id="certificate"
                formControlName="certificate"
                class="form-control mb-3 text-capitalize"
                required
              />
            </div>
            <div class="form-group w-50 mx-auto mb-3">
              <label for="status" class="text-capitalize">
                status<span class="text-danger">*</span>
              </label>
              <select
                required
                id="status"
                formControlName="status"
                class="form-select text-capitalize"
              >
                <option value="enable" class="text-capitalize">Enable</option>
                <option value="disable" class="text-capitalize">disable</option>
              </select>
            </div>
            <div class="d-flex justify-content-around">
              <button
                class="btn btn-primary w-25"
                [disabled]="!certificateForm.valid"
              >
                Add
              </button>
              <input type="reset" class="btn btn-danger w-25" value="cancel" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-2">
  <!-- Certificate Table -->
  <div class="card border-primary border">
    <div class="card-header bg-primary text-light">
      <i class="fab fa-get-pocket"></i> All Certificates
    </div>
    <div class="card-body table-responsive">
      <table border="1" class="table table-striped table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Slug</th>
            <th scope="col">Certificate</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Certificates; let i = index">
            <th class="fw-normal">{{ i + 1 }}</th>
            <!-- <td class="fw-bold">{{ item.title }}</td> -->
            <td class="fw-bold text-capitalize">
              <pre> {{ item.certificateData.slug }}</pre>
            </td>
            <td class="fw-bold text-capitalize">
              <pre> {{ item.certificateData.certificate }}</pre>
            </td>
            <td class="fw-bold text-capitalize">
              <pre> {{ item.certificateData.status }}</pre>
            </td>

            <td class="d-flex justify-content-around">
              <button class="btn btn-primary w-25" (click)="edit(item.id)">Edit</button>
              <button class="btn btn-danger w-25" (click)="delete(item.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
