<div class="h-auto">
  <nav class="nav flex-column">
    <!-- Vendors Dropdown Start -->
    <div class="border border-primary border-2 m-2">
      <button type="button" class="btn w-100" routerLink="vendors">
        <span class="fw-bold text-start">
          <i class="fas fa-inventory"></i> Vendors
        </span>
      </button>
    </div>
    <!--Vendors Dropdown End -->
    <!-- Certifications Dropdown Start -->
    <div class="border border-primary border-2 m-2">
      <button type="button" class="btn w-100" routerLink="certificates">
        <span class="fw-bold text-start">
          <i class="fas fa-inventory"></i> Certificates
        </span>
      </button>
    </div>
    <!-- Certification Dropdown End -->
    <!-- Exams Dropdown Start -->
    <div class="border border-primary border-2 m-2">
      <button type="button" class="btn w-100" routerLink="exams">
        <span class="fw-bold text-start">
          <i class="fas fa-sticky-note"></i>
          Exams
        </span>
      </button>
    </div>
    <!-- Exams Dropdown End -->
    <!-- Questions Dropdown Start -->
    <!-- <div class="btn-group dropend border border-primary border-2 m-2">
      <button type="button" class="btn">Questions</button>
      <button
        type="button"
        class="btn dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        
      </button>
      <ul class="dropdown-menu"> -->
    <!-- Dropdown menu links -->
    <!-- <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div> -->
    <!-- Questions Dropdown End -->
    <!-- Coupons Dropdown Start -->
    <div class="border border-primary border-2 m-2">
      <button type="button" class="btn w-100" routerLink="coupons">
        <span class="fw-bold text-start">
          <i class="fas fa-sticky-note"></i>
          Coupons
        </span>
      </button>
    </div>
    <!-- Coupons Dropdown End-->
    <!-- Customer Dropdown Start -->
    <div class="btn-group dropend border border-primary border-2 m-2">
      <button type="button" class="btn">
        <span class="fw-bold"> <i class="fas fa-user"></i> Customers </span>
      </button>
      <button
        type="button"
        class="btn dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      ></button>
      <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
        <li>
          <a class="dropdown-item" routerLink="customers"
            ><span>All Customers</span></a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="download-status">
            <span>Downland Status</span> action</a
          >
        </li>
      </ul>
    </div>
    <!-- Customer Dropdown End -->
    <!-- Update Exam Dates -->
    <button class="btn btn-primary border boder-2 border-primary m-2">
      <span class="fw-light">
        <i class="fas fa-cloud-upload-alt"></i> Update Exams
      </span>
    </button>
    <!-- Send Email -->
    <button class="btn btn-primary border boder-2 border-primary m-2">
      <span class="fw-light"> <i class="fas fa-envelope"></i> Send Email </span>
    </button>

    <!-- Upload Image -->
    <button class="btn btn-primary border boder-2 border-primary m-2">
      <span class="fw-light">
        <i class="fas fa-file-upload"></i> Upload Image
      </span>
    </button>
  </nav>
</div>
