<div class="pt-5">
  <footer class="bg-dark">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <h3 class="text-light text-decoration-underline">About</h3>
          <p class="text-light">
            Looking for best place to get exactly same exam questions with 100%
            reliable preparation material. Free sample questions with answers
            are available for your exam preparation. Fully authentic exam
            braindumps.
          </p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-light">
          <h3 class="text-light text-decoration-underline">Our Contacts</h3>
          <p class="text-light">
            35, Lorem Lis Street, Park Ave California, US
          </p>
          <p>website: <a href="http://">www.google.com</a></p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 text-light">
          <h3 class="text-light text-decoration-underline">News</h3>
          <p>
            Registered with Dumps4download and stay updated with latest updates
            and latest question answers.
          </p>
          <div class="d-flex gap-2">
            <input
              type="email"
              required
              placeholder="Enter Your Valid Email"
              class="form-control w-75"
            />
            <button class="btn btn-outline-success fw-bold">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <footer class="bg-dark relative py-2">
    <p class="text-center text-muted">All Rights are reversed</p>
  </footer>
</div>
