<div class="container">
  <hr />
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/" class="fw-bold text-dark">Home</a></li>
      <li class="breadcrumb-item active text-muted" aria-current="page">Guarantee</li>
    </ol>
  </nav>
  <hr />
  <h1>Guarntee</h1>
  <p class="fw-bold">{{ name }} Money Back Guarantee Polices:</p>
  <p>
    We are providing 100% real exam questions here on
    <u>
      <a routerLink="/">{{ name }}</a>
    </u>
    We are also providing 100% money back guarantee on our exam dumps. Very easy
    steps you just need to prepare our dumps file and nothing else.
  </p>
  <p><strong>What is Guarantee:</strong></p>
  <p>
    The guarantee is just like assurance to get back the funds used to acquire
    its own study material if you do not pass the exam, but this will never
    happen, because after using our exam dumps materials you will pass your exam
    easily without any difficulty.
  </p>
  <p>
    For our customers to enjoy the privilege of a 100% money back guarantee,
    this possibility of finding the best meaning for those who have fought hard
    to move.
  </p>
  <p>
    Money is very previous but for us oru clients are most precious for us. When
    customers buy dumps for any exam they demand for guarantee we are fully
    confident on our exam material. Unfortunately if you will not clear your
    exam then you can claim your refund and we will provide you your money back
    on same day or we will arrange with in 24 horus for you.
  </p>
  <p>
    <strong>
      There are some term and condition's you can't claim your money back:
    </strong>
  </p>
  <ul>
    <li>You need to study dumps atleast 7 days before attempting exam.</li>
    <li>No money back guarantee after 30 days of purchasing.</li>
    <li>Money back guarantee is not valid on retired exams.</li>
    <li>Money back guarantee is not valid on reduced prices.</li>
    <li>Money back guarantee is not valid on replacement of exams.</li>
    <li>Candidate name should be same on result card and on payment email.</li>
    <li>
      Money back policy is not valid on Practice exam dumps vendors: (<strong>
        Like:
      </strong>
      Avaya, EMC, HP, Oracle, PMI, Juniper, CCIE, AHIP, Riverbed )
    </li>
  </ul>
  <p>
    <strong>How to Claim Guarantee:</strong>
  </p>
  <p>
    Unfortunately if you will not clear your exam then don't hesitate to ask for
    refund from us. Feel free ot contact with our support officer.
  </p>
  <p>
    <strong>You need to follow simple 2 steps:</strong>
  </p>
  <ul>
    <li>Scanned copy of your Certification Score Report.</li>
    <li>Our Purchased Order Number, Name and details of purchased product.</li>
  </ul>
  <p>
    <strong>Our Email address:</strong>
  </p>
  <a href="mailto:umermushtaq3424@gmail.com">support@dumpshub.com</a>
  <p>
    In case of any inconvenience please feel free to ask via our Live Chat or
    e-mail from <a routerLink="../contact-us">Contact Us</a>
  </p>
</div>
