<ng-template #isGuest>
  <li class="nav-item">
    <a class="nav-link" routerLink="login">Login / Register</a>
  </li>
</ng-template>

<li class="nav-item" *ngIf="appUser; else isGuest">
  <a
    class="nav-link text-light dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span class="fw-bold"><i class="fas fa-user"></i> {{ appUser.name }}</span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
      <a class="dropdown-item" routerLink="/" (click)="logout()">Logout</a>
    </li>
  </ul>
</li>
